<!doctype html>
<html lang="en">

<head>
  <title>Wordfind</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="/favicon.ico">
  <link rel="stylesheet" href="https://unpkg.com/missing.css@1.1.3">
  <script src="js/htmx.min.js"></script>
  <style type="text/css">
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0px;
      padding: 0px;
    }

    .left {
      margin-right: 0;
      padding-left: 0px;
    }

    .right {
      margin: 0;
      text-decoration: none;
    }
  </style>
</head>

<body hx-boost="true">

  <main>
    <header>
      <nav class="container">
        <h1 class="left">Wordfind</h1>
        <span> <a href="/about" style="padding-right:20px" class="right">About</a>
          <a href="/" class="right">Home</a>
          <span>
      </nav>

    </header>
    {% block content %} {% endblock %}
  </main>
</body>

</html>
